In [1]:
from hh_parser import vac_parser
import os
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
url = 'https://api.hh.ru/vacancies'

text = 'data python'

path = os.getcwd()

parser = vac_parser(url, path, text)
parser.check_num_pages()

Количество страниц для парсинга: 166

In [3]:
parser.start_final_parse()

 34%|█████████████████████████████████████████████████████████                                                                                                             | 57/166 [07:02<13:49,  7.61s/it]

https://api.hh.ru/vacancies/79047478?host=hh.ru

 51%|█████████████████████████████████████████████████████████████████████████████████████                                                                                 | 85/166 [10:49<10:39,  7.89s/it]

https://api.hh.ru/vacancies/78832982?host=hh.ru

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 166/166 [20:59<00:00,  7.59s/it]

In [4]:
parser.save_file('data_python')
parser.save_collection('data_collection')

Информация о сегодня сохранена

    Unnamed: 0.1        date  vac_number
14           NaN  2022-11-07      1444.0
15           NaN  2022-11-08      1480.0
16           NaN  2022-11-09      1481.0
17           NaN  2023-03-14      1623.0
18           NaN  2023-04-27      1645.0